.pastViewBg{
    background-color: #FFFEF2;
    width:100%;
    display:flex;
    justify-content: center;
}
.pastViewWrapper{
    width:1440px;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.pastViewWrapper h1{
    font-family: 'Merriweather', serif;
    color:#1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    padding-bottom:16px;
    font-weight:300;
}
.monthWrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pastQuestion{
    display:flex;
    text-align: left;
    margin-top:0;
    margin-bottom:16px;
    color:#FFFEF2;
}
.oneDay{
    margin-top:40px;
    margin-bottom:40px;
    ;
}
.date{
    text-align: left;
    margin-bottom: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:#1e1e1eb6;
    font-size: 16px;
    width:95px;
}
.answerWrapper{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.deleteButton{
    border:none;
    background-color:#FFFEF2;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:#ED3D59;
    cursor: pointer;

}
.deleteButton:hover{
    color:#db1b3b;

}
.username{
    display:flex;
    justify-content: flex-end;
    color:#FFFEF2;
    width:215px;
}
.postedBy{
    color:#1E1E1E;
}
.postedByUsername{
    text-decoration:none;
    padding:2px 8px;
    background-color: #ED3D59;
    border-radius: 25px;
    margin-left:8px;
    color:#FFFEF2;
}
.postedByUsername:hover{
    background-color:#db1b3b;

}