.wrapper{
    width:100vw;
    height:85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputQuestion{
    width: 1440px;
    margin:40px 0px;
   
}
.inputQuestion h1{
    font-family: 'Merriweather', serif;
    color:#1E1E1E;
    font-weight: bolder;
    font-size: 32px;
    margin:0;

}
.inputQuestion h3{
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.marker{
    background-color: #db1b3b;
    transform: rotate(5deg);
}
.answerForm{
    background-color: #FFFEF1;
    border: 1px solid #1E1E1E;
    width: 1024px;
    height:50vh;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 24px 16px;

}
.answerForm textarea{
    padding:24px 16px;
    width: 95%;
    height:100%;
    border: none;
    outline:none;
    resize: none;
    font-family: 'Inter', sans-serif;
    color: #1E1E1E;
    background-color: #FFFEF1;
    font-size:18px;
    font-weight: 400;
    line-height:1.5;
}
.buttonWrapper{
    width:95%;
    display: flex;
    justify-content: flex-end;
}
.pleaseLogin{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pleaseLogin p{
    margin-right:24px;
    font-family: 'Inter', sans-serif;
    font-size:18px;
    margin-top:0px;
    margin-bottom:0px;
    font-weight:400;
    color:#ED3D59;

}
.postButton{
    background-color: #ED3D59;
    border:none;
    color:#0D0D0D;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    letter-spacing: 1.3px;
    font-size: 16px;
    letter-spacing: 1.2;
    text-transform: uppercase;
    color:#FFFEF1;
    width:144px;
    height:48px;
    border-radius: 25px;
    transition: background-color 250ms;
}
.postButton .postIcon{
        height: 20px;
        fill: white;
        vertical-align: bottom;
        margin-right: 8px;
}
.postButton:disabled{
    background-color: #dddcc9;
    cursor:not-allowed;
    pointer-events: none;
    transition: background-color 250ms;

}
.postButton:hover{
    background-color: #db1b3b;
    cursor: pointer;
}
.postButton:focus{
   background-color: #2c514c;
   transition: background-color 250ms;

}
.done{
    background-color:#2c514c;
    pointer-events: none;

}
