.dayViewWrapper{
    width:1440px;
    height:500px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.editDelete{
    width:215px;
    height:40px;
    display: flex;
    justify-content: flex-end;

}


.editDelete deleteButton{
    width:30px;
    font-size:11px;
    margin-right:16px;
    background-color: white;
    color: #078080 ;
    padding:0;

}
.editDelete deleteButton:hover{
    color: #056b6b;

}
.username{
    display:flex;

}

.username *{
    color: #078080 ;
    font-size:14px;
    margin: 0;
    margin-top:-5px;
}

