
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 18px;
    box-shadow: 0 1px 8px #ddd;
    background-color: #FFFEF1;
    border-bottom:1px solid #1E1E1E;
    
}

.centered{
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo svg {
    margin-right:2px;
}
.logo svg path{
    stroke:#1E1E1E;
}
h1{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color:#1E1E1E;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    

}
.logoutButton{
    background-color: #FFFEF1;
    border:none;
    font-family: 'Inter', sans-serif;
    font-weight:600;
    font-size:16px;
    font-family: inter;
    color:#1E1E1E;
    border-bottom:1px solid #1E1E1E;
    padding-bottom:8px;
    cursor: pointer;

}
.logoutButton:hover{
    color:#db1b3b;
    border-bottom:1px solid #db1b3b;
}
.navLinks{
    display: flex;
    align-items: center;
    width:1440px;
   
}
.right{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
nav ul Link{
    list-style: none;
    display: inline-block;
    text-transform: capitalize;
    border-bottom:1px solid #1E1E1E;



}
nav ul Link:hover{
    color:#db1b3b;
    border-bottom:1px solid #db1b3b;
}
nav ul a{
    margin-right:20px;
    font-family: 'Inter', sans-serif;
    color:#1E1E1E;
    font-weight: 600;
    border-bottom:1px solid #1E1E1E;
    padding-bottom:8px;

}
nav ul a:hover{
    color:#db1b3b;
    border-bottom:1px solid #db1b3b;
}

#appLogo{
    margin-right: auto;
    font-size: 1.5em;

}