
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 18px;
    box-shadow: 0 1px 8px #ddd;
    background-color: #0D0D0D;
    border-bottom:1px solid #FEFEFE;
    
}

.centered{
    display: flex;
    width: 1024px;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo *:hover{
    stroke:#FEFEFE;
    color:#FEFEFE;
}
.logo svg {
    margin-right:2px;
}
.logo svg path{
    stroke:#FEFEFE;
}
h1{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color:#FEFEFE;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    

}
nav{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index:2;
}
nav ul Link{
    list-style: none;
    display: inline-block;
    text-transform: capitalize;

}
nav ul a{
    margin-right:20px;
    font-family: 'Inter', sans-serif;
    color:#078080;
    font-weight: 600;

}

#appLogo{
    margin-right: auto;
    font-size: 1.5em;

}