@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.backgroundImage{
  background-color: #FFFEF1;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}
.userProfile{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-top:48px;
  width:1440px;
  margin: 0 auto;
}
.userName{
  font-family: Inter;
  font-size:24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.center{
  display:flex;
  justify-content: center;
}


